In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

path_data = "https://raw.githubusercontent.com/mlee-pnu/IDS/main/HW2/"

students = pd.read_csv(path_data + 'students.csv')
scores_A = pd.read_csv(path_data + 'classA.csv')
scores_B = pd.read_csv(path_data + 'classB.csv')
scores_C = pd.read_csv(path_data + 'classC.csv')

In [4]:
students

students

           sid major  year                  email
0    202060001   CSE     2    202060001@naver.com
1    202260002   CSE     2    202260002@naver.com
2    202260003   CSE     2    202260003@gmail.com
3    202160004   CSE     2    202160004@naver.com
4    202260005   CSE     2    202260005@naver.com
..         ...   ...   ...                    ...
134  201762033   ECE     4    201762033@naver.com
135  201962034   ECE     3    201962034@naver.com
136  201862035   ECE     4    201862035@naver.com
137  201862036   ECE     3    201862036@naver.com
138  201962037   ECE     3  201962037@pusan.ac.kr

[139 rows x 4 columns]

In [5]:
scores_A

          sid      score  study
0   202060001  46.274451   9.70
1   202260002  39.669772  12.40
2   202260003  47.743211  14.82
3   202160004  27.737961   6.64
4   202260005  10.780187   6.56
5   202260006  61.907564  25.96
6   202260007  72.116640  15.74
7   202160008  64.255390  26.72
8   202260009  50.744746  16.94
9   202060010  68.818312  19.36
10  202260011  71.731351  24.34
11  202260012  46.925151  11.54
12  202060013  45.859049  11.10
13  202260014  38.846463  21.50
14  202160015  45.100000  18.48
15  202060016  78.833117  19.06
16  202060017  80.845242  20.30
17  202260018  48.139075  19.86
18  202260019  49.718408  10.16
19  202260020  38.790240  16.86
20  202060021  48.737033  10.86
21  202260022  43.961594  16.64
22  202260023  53.921332  15.30
23  202160024  36.519479   8.22
24  202160025  61.771038  12.98
25  202060026  66.287826  13.40
26  202260027  54.810748  23.12
27  202260028  27.050928   8.20
28  202260029  49.401431  21.18
29  202060030  51.085922  22.02
30  202260031  47.370135  14.88
31  202260032  69.929274  26.44
32  202060033  40.890628  20.84
33  201660034  47.913072  16.10
34  202060035  69.533221  17.06
35  201660036  63.892912  15.62
36  201960037  53.200662  11.34
37  202060038  44.279251  13.96
38  202060039  72.791845  19.48
39  202060040  37.714898  20.04
40  201960041  54.166217  14.60
41  201960042  62.309889  14.38
42  201960043  41.167989  13.04
43  201960044  49.721178  19.18
44  201960045  51.446161  14.74
45  201960046  59.919857  25.14
46  201960047  61.402368  23.66
47  201960048  48.240072  13.84
48  201960049  34.643620   8.22
49  201960050  35.864857  20.30
50  201660051  54.958288  15.84
51  201960052  74.693951  20.38
52  201860053  40.172397  20.04

In [6]:
scores_B

          sid      score  study
0   202061001  59.339677  12.16
1   202261002  22.650547  17.80
2   202061003  36.275622  20.92
3   202261004  52.095365  11.30
4   202061005  37.025605  15.34
5   201661006  73.281203  24.94
6   202261007  22.127357  17.38
7   202061008  34.150454   9.88
8   202261009  23.662163   4.84
9   202061010  91.260009  21.40
10  202061011   1.945845   3.18
11  202161012  30.939875  17.08
12  202261013  24.136651   5.08
13  202061014  66.651618  19.42
14  202261015  38.435342  19.38
15  202061016  63.644525  13.72
16  202061017  43.362379  19.72
17  202261018  44.353219  12.32
18  202261019  67.890577  15.44
19  202261020  42.485410  22.32
20  202261021  59.328125  16.78
21  201861022  40.851487  10.32
22  202261023   1.056184  10.34
23  202061024  28.776093   8.30
24  202261025  65.784248  15.86
25  201861026   8.181276   8.52
26  202261027  41.032495  10.24
27  202261028  38.153127  14.30
28  202261029  47.011593  15.94
29  202061030  35.543979  12.80
30  202261031  41.996757  11.88
31  202261032  25.862428  10.54
32  201761033  43.925224  21.94
33  201961034  31.956914  14.70
34  201861035  16.784545  13.30
35  201861036   8.696730  10.98
36  201761037  48.597309  15.04
37  201761038  49.556528  18.36
38  201961039   6.751692   6.42
39  201961040  62.238499  13.58
40  201761041  44.758011  22.16
41  201861042  63.850835  26.22
42  201861043  26.928239  10.88
43  201861044  31.186316  14.10
44  201761045  52.407820  14.76
45  201861046  27.479875  18.02
46  201961047  41.702518  21.06
47  202161048  35.962385   9.68
48  202161049  64.344486  21.24

In [7]:
scores_C

          sid      score  study
0   202062001  59.047532  15.46
1   202062002  61.085129  22.52
2   202262003  72.077839  19.56
3   202262004  74.369702  20.54
4   202062005  65.377612  20.68
5   202262006  73.760731  24.02
6   202262007  75.828211  20.74
7   202162008  58.176880  13.70
8   202262009  69.502602  14.18
9   202062010  74.169784  24.54
10  202262011  77.524653  20.88
11  202062012  69.836998  25.74
12  202062013  51.649689  15.82
13  202062014  84.266508  30.14
14  202262015  63.478373  17.08
15  202162016  52.327280  17.50
16  202262017  40.177080  19.90
17  202262018  69.682745  27.54
18  202262019  75.366779  15.38
19  202262020  63.325488  25.62
20  202162021  82.203336  24.58
21  202262022  82.288371  19.46
22  202062023  67.589201  16.18
23  202062024  51.907376  12.80
24  201862025  67.382163  18.84
25  201962026  67.978764  15.60
26  201862027  83.542553  17.54
27  201762028  85.037312  26.82
28  201862029  64.603370  13.54
29  201962030  60.435072  18.28
30  201862031  86.186780  29.74
31  201862032  63.384794  19.60
32  201762033  78.310276  19.64
33  201962034  58.429588  17.94
34  201862035  50.774370  20.08
35  201862036  71.981646  15.06
36  201962037  71.600689  22.66